<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% include 'navbar.html' %}

<style>
    body {
      background: url('https://i.ibb.co/1RnyLVC/stack.jpg');
      background-repeat: repeat-y;
    }
    </style> 
<body>
    <h5>There are uncommitted explanations in the cache. You need to clear them before generating explanations. Click the button below to proceed.</h5>
    <form class="" action="clear_exp" method="post" style="padding-left: 10px; background: rgba(252, 252, 252, 0.2)">
        {% for user in explainations %}
            <h6>Explanation for User: </h6>
            <p>{{ user }}</p >
            <br>
        {% endfor %}
        <input type="submit" name="" value="Clear Explanations" class="waves-effect waves-light btn red darken-3">
    </form>
</body>