<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{% include 'navbar.html' %}
<style>
    body {
      background: url('https://i.ibb.co/1RnyLVC/stack.jpg');
    }
    </style> 
<body>
    {% for chain in chains %}
        <table border= "3px" style="background: rgba(252, 252, 252, 0.2)"> 
            {% for key,value in chain.items() %}
            <tr>
                {% if key == "index" %}
                    <th style="color: brown;">{{key}}</th>
                    <td>{{value}}</td>
                {% else %}
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body>